DB_URL=jdbc:mysql://localhost:3306/small_business_loan_db?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=loanapp
DB_PASSWORD=replace-with-a-development-password
MYSQL_ROOT_PASSWORD=replace-with-a-root-development-password
DB_PORT=3306
