KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_LOAN_APPLICATION_TOPIC=loan-application-events
KAFKA_LOAN_DECISION_TOPIC=loan-decision-events
KAFKA_UNDERWRITING_CONSUMER_GROUP=loan-underwriting-service-v1
KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICAS=1
UNDERWRITING_DB_URL=jdbc:h2:file:./data/underwriting;AUTO_SERVER=TRUE
UNDERWRITING_DB_USERNAME=sa
UNDERWRITING_DB_PASSWORD=
